name: build-and-test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  DOTNET_VERSION: "8.0.x"
  DOTNET_NOLOGO: true

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build TypedSignalR.Client.Attributes.csproj
        run: dotnet build ./src/TypedSignalR.Client.Attributes/TypedSignalR.Client.Attributes.csproj --no-restore

      - name: Build TypedSignalR.Client.csproj
        run: dotnet build ./src/TypedSignalR.Client/TypedSignalR.Client.csproj --no-restore

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build TypedSignalR.Client.csproj
        run: dotnet build ./src/TypedSignalR.Client/TypedSignalR.Client.csproj --no-restore

      - name: Test TypedSignalR.Client.Tests.csproj
        run: dotnet test ./tests/TypedSignalR.Client.Tests/TypedSignalR.Client.Tests.csproj --no-restore

  nuget-test:
    name: nuget-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build TypedSignalR.Client.csproj
        run: dotnet build ./src/TypedSignalR.Client/TypedSignalR.Client.csproj --no-restore

      - name: Launch test server
        run: dotnet run --project ./tests/TypedSignalR.Client.Tests.Server/TypedSignalR.Client.Tests.Server.csproj --no-restore &

      - name: Sleep for 10 seconds
        run: sleep 10s
        shell: bash

      - name: Test (NuGet)
        run: dotnet test ./tests/TypedSignalR.Client.Tests.NuGet/TypedSignalR.Client.Tests.NuGet.csproj --no-restore
